# Playing with HN data

Ask some interesting questions on the HN post dataset and figure out the answer using Pandas.

In [3]:
import pandas as pd
import numpy as np

%matplotlib inline

In [4]:
df_hn = pd.read_csv('../datasets/HN_posts_year_to_Sep_26_2016.csv', parse_dates=['created_at'], index_col=[0])
df_hn.head(5)

,title,url,num_points,num_comments,author,created_at
id,,,,,,
12579008,You have two days to comment if you want stem ...,http://www.regulations.gov/document?D=FDA-2015...,1,0,altstar,2016-09-26 03:26:00
12579005,SQLAR the SQLite Archiver,https://www.sqlite.org/sqlar/doc/trunk/README.md,1,0,blacksqr,2016-09-26 03:24:00
12578997,What if we just printed a flatscreen televisio...,https://medium.com/vanmoof/our-secrets-out-f21...,1,0,pavel_lishin,2016-09-26 03:19:00
12578989,algorithmic music,http://cacm.acm.org/magazines/2011/7/109891-al...,1,0,poindontcare,2016-09-26 03:16:00
12578979,How the Data Vault Enables the Next-Gen Data W...,https://www.talend.com/blog/2016/05/12/talend-...,1,0,markgainor1,2016-09-26 03:14:00

## Top 10 most upvoted posts

In [ ]:
df_top10 = df_hn[['title', 'num_points']].sort_values(by='num_points', ascending=False)
df_top10

## Top 10 domains with the most upvoted posts

In [5]:
import re

df1 = df_hn.copy().dropna(subset=['url'])
df1['domain'] = df1['url'].str.extract('https?://([\w\.]+)/?.*', flags=re.IGNORECASE, expand=False)
df1_domain = df1[['domain', 'num_points']].groupby('domain')
df_res = df1_domain.sum().sort_values(by='num_points', ascending=False).head(10)

df_res.reset_index()

                   domain  num_points
0              github.com      242884
1              medium.com      155871
2         www.nytimes.com      122514
3          techcrunch.com       68254
4       www.bloomberg.com       64489
5     www.theguardian.com       54207
6         arstechnica.com       46294
7  www.washingtonpost.com       46019
8             www.bbc.com       38406
9         www.youtube.com       37878

## What is the best time to post?

In [7]:
df_hn['hour'] = df_hn['created_at'].dt.hour
df_groupby = df_hn.groupby('hour')
df_groupby['num_points'].mean().sort_values(ascending=False).head(5)

hour
12    16.785927
2     16.406170
11    16.192910
13    16.109430
0     15.879906
Name: num_points, dtype: float64

## How many posts are related to Python?

In [91]:
len(df_hn[df_hn['title'].str.contains("python") | df_hn['title'].str.contains("Python")].index)

2474